<div class="post">
    <div class="post-header-wrapper">
    <h3 class="post-header">{{ course.title }}</h3>
      <div class="post-info">
        <span class="post-duration">{{ course.duration }}</span>
        <span class="post-date">{{ course.creationDate }}</span>
      </div>
    </div>
    <p class="post-text">
      {{ course.description }}
    </p>
    <div class="post-buttons">
      <button (click)="handleEdit()" class="post-button button primary"><i class="far fa-edit"></i>  Edit</button>
      <button (click)="handleDelete()" class="post-button button alert"><i class="fas fa-trash"></i>  Delete</button>
    </div>
</div>