<div class="grid-x">
    <header class="cell header">
        <app-logo></app-logo>
        <div class="header-title">Video course</div>
        <nav class="header-navigation">
            <ul class="header-navigation-items">
                <li class="header-navigation-item">
                    <a [routerLink]="['/logIn']" routerLinkActive="header-navigation-item-link--active" class="header-navigation-item-link">User login</a>
                </li>
                <li class="header-navigation-item">
                    <a routerLinkActive="header-navigation-item-link--active" class="header-navigation-item-link">Log out</a>
                </li> 
            </ul>
        </nav>
    </header>
</div>