.postAdd {
  &-form {
    background-color: #fff;
    border-radius: 5px;
    height: 100%;
    margin: 5px 10%;
  }

  &-header {
    font-weight: bold;
    padding: 20px 0;
  }

  &-content {
    padding: 0 20px;
  }

  &-buttons {
    float: right;
    margin-right: 20px;
  }

  &-validationInfo {    
    font-size: 18px;
    float: right;
    margin-top: -15px;
  }
}
  
.button {
margin-right: 15px;
}