@import "src/_vars.scss";

.breadcrumbs {
    &-title {
        font-size: 24px;
        padding-top: 25px;
        padding-left: 70px;
        color: $black;

      &:hover {
        color: $doveGray;
        text-decoration: underline;
      }

      &_text {
        padding-left: 0;

        &:hover {
          color: $black;
          text-decoration: none;
        }
      }
    }
}
