@import "../node_modules/foundation-sites/scss/foundation";
@import "../node_modules/foundation-sites/assets/foundation";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
